# Exibir apenas o primeiro nome na tela inicial logado

B.O a serem resolvidos:

-função esqueci minha senha

-popup alert de erro padrão pro site todo





-upar carros no bdd

-encontrar imagens semelhantes de toidos os carros

-hospedar o site

