

.title-catalog h2 {
    padding-bottom: 30px;
}

.card-logotypes {
    background-color: var(--cardBackground);
    border-radius: 15px;
    box-shadow: var(--shadow);
    padding: 20px 20px 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-logotypes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 50px;
}

.content-logotypes {
    text-decoration: none;
    place-self: center;
    max-width: 120px;
    width: 100%;
}

.content-logotypes div{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.content-logotypes div span {
    color: #000;
    padding-top: 10px;
}

.content-logotypes img {
    width: 80%;
    height: auto; 
}

.more-logotypes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.more-logotypes button {
    background-color: var(--secondary);
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 14px;
    font-size: 1rem;
    max-width: 336px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.more-logotypes button:hover {
    opacity: 0.8;
}

.more-brands {
    padding-top: 50px;

}

@media (max-width: 480px) {

    .grid-logotypes {
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media (min-width:481px) and (max-width: 854px) {
    .grid-logotypes {
        grid-template-columns: repeat(3,1fr);
    }
}


@media (min-width:854px) and (max-width: 1021px) {
    .grid-logotypes {
        grid-template-columns: repeat(5,1fr);
    }
}




