.title-catalog {
    padding-top: 40px;
}

.title-catalog h1{
    font-size: 1.6rem;
}

.logotypes {
    padding-top: 40px;
}

.more-logotypes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.more-logotypes button {
    background-color: var(--secondary);
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 14px;
    font-size: 1rem;
    max-width: 336px;
    width: 100%;
    border-radius: 5px;
}

.more-logotypes button:hover {
    opacity: 0.8;
}

@media (max-width: 480px) {
    
    .logotypes {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 50px;
    }

    .logotypes a {
        place-self: center;
    }
}