.login {
    padding: 40px 0;
}

.register .box-login{
    padding: 0;
    gap: 30px;
}

.register .card form input {
    margin-bottom: 32px;
}

.login .box-login {
    padding-bottom: 40px;
}

section .box-login {
    display: flex;
    justify-content: space-between;
    margin: 35px 0px;
}

.car-login {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    max-width: 610px;
}

.car-login h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 12px;
}

.title-car-login {
    /* max-width: 587px; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-car-login p {
    color: var(--third);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7;
    width: 95%;
}

.box-car-login {
    max-width: 552px;
}

.box-car-login img {
    width: 90%;
}

.title-car-login span {
color: var(--secondary);}

section .card {
    background-color: var(--cardBackground);
    border-radius: 15px;
    box-shadow: var(--shadow);
    max-width: 515px;
    width: 100%;
}

section .card h2 {
    text-align: center;
    font-size: 20px;
    padding: 25px 0px;
}

section .card h2 span{
    color: var(--secondary);
}

section .card form {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

section .card form label {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    font-size: 17px;
}

section .card form input {
    background-color: var(--background);
    border: none;
    padding: 15px 15px;
    font-size: 15px;
    margin-bottom: 49px;
    outline: none;
    border-radius: 3px;
}

section .card form #password {
    margin-bottom: 25px;
}

section .forgot-password {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

section .forgot-password img{
    width: 14px;
    margin-right: 5px;
}

section .forgot-password a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 15px;
}   

section .forgot-password a:hover {
    text-decoration: underline;
}

section .card button {
    border-radius: 5px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--white);
    font-weight: 700;
    padding: 12px 0px;
    font-size: 18px;
}

section .card button:hover {
    opacity: 0.9;
}

.btn-register {
    margin-top: 15px;
    margin-bottom: 22px;
}

section .create-an-account {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 15px;
}

section .create-an-account a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: 600;
    
}

section .create-an-account a:hover {
    text-decoration: underline;
}
.card-error {
    width: 40%;
}

.error-register {
    flex-direction: column;
    display: flex;
    background-color: var(--cardBackground);
    padding: 20px;
    border-radius: 15px;
    box-shadow: var(--shadow);
    max-width: 400px;
}

.error-register h2 {
    font-size: 20px;
    padding-bottom: 12px;
}

.error-message {
    display: flex;
    width: 100%;
}

.error-message p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 15px;
}

.title-validacao {
    display: flex;
    justify-content: start;
    width: 100%;
}

.popup-verificacao {
    background-color: #f00;
}


@media (max-width: 900px) {

    .box-login {
        flex-direction: column;
    }

    .title-car-login {display: none;
    }

    .box-car-login {
        display: none;
    }

    .title-car-login h2{
        font-size: 32px;
    }

    .title-car-login p {
        font-size: 16px;
        padding-bottom: 17px;
    }

    .register .card h2 {
        font-size: 20px;
    }

    section .card form {
        padding: 10px 20px;
    }

    .create-an-account  {
        padding-bottom: 20px;
    }

    .error-register {
        max-width: unset;
        width: 100%;
    }
    .card-error {
        width: 100%;
    }

}