.recomendation {
    padding: 50px 0px;
}
.title-recomendation h2 {
    font-weight: 800;
}

.box-recomendation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 54px;
    padding-top: 43px;
    width: 100%;
}

.card-recomentadion img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-recomentadion {
    background-color: var(--cardBackground);
    border-radius: 15px;
    box-shadow: var(--sombra);
    max-width: 360px;
    width: 100%; 
    height: auto;
    padding: 10px;
}

.desc-recomendation {
    padding: 0px 8px;
}
.title-card-recomendation {
    font-size: 20px;
    font-weight: 700;
}

.price {
    color: var(--secondary);
    font-weight: 700;
    font-size: 18px;
    padding: 10px 0px;
}

.info p {
    color: var(--third);
    font-weight: 500;
    line-height: 1.4;
    font-size: 15px;
}

.box-saiba-mais {
    padding: 10px 0px;
}

.box-saiba-mais a{
    display: inline-block;
    background-color: var(--secondary);
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: var(--sombra);
    padding: 8px 12px;
}


.desc-recomendation a:hover {
    opacity: 0.8;
}

@media (max-width: 576px) {

    .recomendation {
        padding: 10px;
    }

    .box-recomendation {
        grid-template-columns: 1fr;
       
    }
    
    .recomendation {
        padding: 20px;
    }

    .title-recomendation {
        padding-top: 20px;
    }

    .title-recomendation h2 {
        text-align: center;
    }
    
}