.about-us {
    padding: 60px 0px;
}

.box-about-us {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 65px;
    padding: 70px 0px 10px;
}

.title-about-us {
    display: flex;
    justify-content: center;
}

.title-about-us h2 {
    text-align: center;
    font-size: 32px;
}

.box-about-us-image {
    display: flex;
    justify-content: center;
}

.about-us-group img {
    width: 52px;
    padding-bottom: 10px;
}

.title-about-us-group h2 {
    font-size: 17px;
    text-align: center;
}

.desc-about-us-group {
    font-size: 16px;
    color: var(--third);
    text-align: center;
    padding-top: 17px;
    line-height: 1.4;
}

@media (max-width: 900px) {
    .box-about-us {
        grid-template-columns: repeat(2, 1fr); 
        gap: 40px;
        padding: 35px 0px 10px;
    }

   
    .title-about-us h2 {
        font-size: 28px; 
    }

    .about-us-group img {
        width: 42px;
    }

    .title-about-us-group h2 {
        font-size: 18px; 
    }

    .desc-about-us-group {
        font-size: 17px; 
    }
}

@media (max-width: 480px) {

    .about-us {
        padding: 40px 0px;  
    }

    .box-about-us {
        grid-template-columns: 1fr;
        gap: 20px;

    }

    .about-us-group {
        padding: 10px 0px;
    }


    .title-about-us h2 {
        font-size: 25px;
    }

    .desc-about-us-group {
        display: flex;
        justify-content: center;
    }

    .desc-about-us-group p {
        width: 80%;
        font-size: 16px;
    }
}