.about-us {
    padding: 60px 0px;
}

.box-about-us {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 65px;
    padding-top: 76px;
}

.title-about-us {
    display: flex;
    justify-content: center;
}

.title-about-us h2 {
    text-align: center;
    font-size: 32px;
}

.box-about-us-image {
    display: flex;
    justify-content: center;
}

.about-us-group img {
    width: 52px;
    padding-bottom: 10px;
}

.title-about-us-group h2 {
    font-size: 17px;
    text-align: center;
}

.desc-about-us-group {
    font-size: 15px;
    color: var(--third);
    padding-top: 13px;
    text-align: justify;
    padding-top: 17px;
}

@media (max-width: 900px) {
    .box-about-us {
        grid-template-columns: repeat(2, 1fr); 
        gap: 40px;
    }

    .title-about-us h2 {
        font-size: 28px; 
    }

    .about-us-group img {
        width: 42px;
    }

    .title-about-us-group h2 {
        font-size: 16px; 
    }

    .desc-about-us-group {
        font-size: 14px; 
    }
}

@media (max-width: 480px) {

    .box-about-us {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .title-about-us h2 {
        font-size: 25px;
    }

    .desc-about-us-group {
        display: flex;
        justify-content: center;
    }

    .desc-about-us-group p {
        width: 80%;
        font-size: 15px;
    }
}