.brands {
    background-color: var(--secondary);
    margin-top: 150px;
}

.logotipos {
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

@media (max-width: 480px) {

    .brands {
        margin-top: 70px;
    }
    
    .grid-mobile {
        display: flex;
        justify-content: center;
    }

    .logotipos img {
        width: 10%;
    }
}
