.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary);
}

.brands .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.logotipos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.logotipos img {
    width: 100px; /* Defina a largura desejada */
    height: 100px; /* Defina a altura desejada */
    object-fit: contain; /* Garante que a imagem se ajuste ao contêiner mantendo a proporção */
    padding: 10px; /* Espaçamento opcional ao redor da imagem */
}